#imagen-principal{
	width: 100%;
}

body{
	background: #f93;
	margin: 1% 2%;
}
#side-right{
	width: 30%;
	float: right;
}
aside img{
	width: 100%;
}
h1{
	font-family: 'Lobster', cursive;
	color: white;
}
.login-box{
	width: 100%;
	background: url(../img/encuesta.jpg);
	padding-right: 5%;
	padding-left: 5%;
	border: #663 5px solid;
	box-sizing: border-box;
}

.login-box{
	text-align: center;
	font-size: 2.5em;
	border-radius: 80%
}
.login-box input[type="text"],input[type="password"]{
width: 100%;
margin-bottom: 40px;
font-size: 16px;
border: none;
border-bottom: 3px solid black;
background: transparent;
}

.login-box input[type="submit"]{
height: 40px;
background-color: black;
font-size: 16px;
border-radius: 20px;
color: white;
column-rule: white;
}

.login-box input[type="submit"]:hover{
	color:yellow;
	font-size: 19px;
	background: #0CFF00;
}

.login-box label{
background: white;
text-align: center;
}

/* Sección de Cartas */

.cards{
	width: 30%;
	display: inline-block;
	border: #060 5px solid;
	margin: 5px;
	background: green;
	color: white;
	text-align: center;
}
div.cards img{
	width: 100%;
	height: 150px;
}

.Encuesta{
	width: 60%;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 2em;
}

.Encuesta table{
	text-align: center;
	width: 100%;
	background: white;
}

table, th, td{
	border: 1px solid grey;
	font-size: 19px;
	font-family: 'Cinzel', serif;
	border-collapse: collapse;
}